In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("D:\Atharva engineering\PROJECTS\SkillSync all data\Datasets for SkillSync\job_recommendation_dataset.csv")
df

,Job Title,Company,Location,Experience Level,Salary,Industry,Required Skills
0,Early years teacher,Richardson Ltd,Sydney,Senior Level,87000.0,Healthcare,Pharmaceuticals
1,Counselling psychologist,"Ramos, Santiago and Stewart",San Francisco,Mid Level,50000.0,Marketing,"Google Ads, SEO, Content Writing"
2,Radio broadcast assistant,Franco Group,New York,Mid Level,77000.0,Healthcare,"Patient Care, Nursing, Medical Research, Pharm..."
3,"Designer, exhibition/display",Collins Inc,Berlin,Senior Level,90000.0,Software,Machine Learning
4,"Psychotherapist, dance movement",Barker Group,Sydney,Entry Level,112000.0,Healthcare,"Nursing, Medical Research, Pharmaceuticals"
...,...,...,...,...,...,...,...
49995,Veterinary surgeon,"Schultz, Hutchinson and Scott",Bangalore,Senior Level,112000.0,Education,EdTech
49996,Mental health nurse,Garcia-Thompson,New York,Entry Level,150000.0,Software,"Java, Machine Learning, React, AWS"
49997,Field trials officer,Fernandez Group,San Francisco,Mid Level,76000.0,Manufacturing,"Production Planning, Quality Control"
49998,Geographical information systems officer,"Thompson, Jarvis and Campbell",Toronto,Mid Level,137000.0,Marketing,"Social Media, Google Ads, Content Writing"
49999,"Psychotherapist, child","Gonzalez, Scott and Bauer",Bangalore,Mid Level,131000.0,Healthcare,Nursing

In [4]:
df.isnull().sum()

Job Title           0
Company             0
Location            0
Experience Level    0
Salary              0
Industry            0
Required Skills     0
dtype: int64

In [6]:
df1 = df.drop('Salary', axis=1)
df1

,Job Title,Company,Location,Experience Level,Industry,Required Skills
0,Early years teacher,Richardson Ltd,Sydney,Senior Level,Healthcare,Pharmaceuticals
1,Counselling psychologist,"Ramos, Santiago and Stewart",San Francisco,Mid Level,Marketing,"Google Ads, SEO, Content Writing"
2,Radio broadcast assistant,Franco Group,New York,Mid Level,Healthcare,"Patient Care, Nursing, Medical Research, Pharm..."
3,"Designer, exhibition/display",Collins Inc,Berlin,Senior Level,Software,Machine Learning
4,"Psychotherapist, dance movement",Barker Group,Sydney,Entry Level,Healthcare,"Nursing, Medical Research, Pharmaceuticals"
...,...,...,...,...,...,...
49995,Veterinary surgeon,"Schultz, Hutchinson and Scott",Bangalore,Senior Level,Education,EdTech
49996,Mental health nurse,Garcia-Thompson,New York,Entry Level,Software,"Java, Machine Learning, React, AWS"
49997,Field trials officer,Fernandez Group,San Francisco,Mid Level,Manufacturing,"Production Planning, Quality Control"
49998,Geographical information systems officer,"Thompson, Jarvis and Campbell",Toronto,Mid Level,Marketing,"Social Media, Google Ads, Content Writing"
49999,"Psychotherapist, child","Gonzalez, Scott and Bauer",Bangalore,Mid Level,Healthcare,Nursing

In [7]:
df1.to_csv("job_postings_final.csv", index = False)